/* Css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: Verdana, sans-serif;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

html, body {
	line-height: 1.3;
	text-align: center;
	height: 100%;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

button::-moz-focus-inner {
	border: none;
}

/* The application rules */
body {
	display: flex;
	flex-direction: column;
	height: 100%;
}

header {
	margin: 50px auto;
	width: 80%;
	font-size: 120%;
}

.main {
	width: 80%;
	margin: 0 auto 20px;
	flex: 1 0 auto;
}

.main button {
	background-color: #5cb85c;
	color: #fff;
	background-image: none;
	border: 1px solid #4cae4c;
	border-radius: 4px;
	cursor: pointer;
	font-size: 150%;
	font-weight: 400;
	line-height: 1.42857;
	margin-bottom: 0;
	padding: 8px 14px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
}

.main button:hover {
	background-color: #449d44;
	border-color: #398439;
	color: #fff;
}

.stat_cont {
	font-size: 80%;
	margin: 20px 0 0;
}

.result {
	min-height: 100px;
	margin: 30px 0 0;
}

.result div {
	display: inline-block;
	width: 70px;
	box-shadow: 2px 0 0 0 #343434,
	0 2px 0 0 #343434,
	2px 2px 0 0 #343434, /* Just to fix the corner */ 2px 0 0 0 #888 inset,
	0 2px 0 0 #343434 inset;

}

footer {
	width: 60%;
	margin: 0 auto;
	flex: 0 0 auto;
	padding: 0 0 30px;
}

footer ul {
	display: flex;
	justify-content: center;
}

footer li {
	display: inline-block;
	margin: 0 20px 0 0;
}

footer li a {
	text-decoration: none;
	color: #636363;
	font-size: 100%;
}

footer li a:hover {
	text-decoration: underline;
	color: #313131;
}